<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testBeforeSuite">
	<test thread-count="5" name="MVA10_APIs">

		<classes>
			<class name="RestAssuredDemo.RestAssuredDemo.MVA10APIs_Suite" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="UFLAPIs_Suite">

		<classes>
			<class name="RestAssuredDemo.RestAssuredDemo.UFLAPIs_Suite" />
		</classes>
	</test> <!-- Test -->


	
</suite> <!-- Suite -->

