<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testBeforeSuite">

	<parameter name="baseURL"
		value="https://mvax.dx-int1-common.digital.vodafoneaws.co.uk" />
	<parameter name="appConfigResoureURL"
		value="/app/api/v1/appconfig" />
	<parameter name="hansoloResoureURL"
		value="/app/api/v1/testHansolo" />
	<parameter name="softTokenResoureURL"
		value="/app/api/v2/softToken" />
	<parameter name="subscription" value="447741739240" />
	<parameter name="segmentResoureURL"
		value="/app/api/v1/segment" />
	<parameter name="dashboardResoureURL"
		value="/app/api/v4/dashboard" />
	<parameter name="subsConfigResoureURL"
		value="/app/api/v1/subsConfig" />
	<parameter name="veryMeOffersResoureURL"
		value="/app/api/v1/veryMeOffers" />
	<parameter name="discoverResoureURL"
		value="/app/api/v1/discover" />
	<parameter name="productsAndServicesResoureURL"
		value="/app/api/v1/productsAndServices" />
	<parameter name="billHistoryResoureURL"
		value="/app/api/v1/billHistory" />
	<parameter name="planResoureURL" value="/app/api/v1/plan" />
	<parameter name="usagesResoureURL" value="/app/api/v1/usages" />
	<parameter name="extrasResoureURL" value="/app/api/v1/extras" />
	<parameter name="currentChargesResoureURL"
		value="/app/api/v1/currentCharges" />
	<parameter name="additionalChargesResoureURL"
		value="/app/api/v1/additionalCharges" />
	<parameter name="upgradesResoureURL"
		value="/app/api/v1/upgrades" />
			<parameter name="vovResoureURL"
		value="/app/api/v1/vov" />
		<parameter name="passwordLoginResoureURL"
		value="/app/api/v2/passwordLogin" />
		<parameter name="accountsResoureURL"
		value="/app/api/v1/accounts" />
        <parameter name="accountsResoureURL"
		value="/app/api/v1/accounts" />

	<parameter name="subscription" value="447386011953" />
	<parameter name="userName" value="DNU_S2_7000330528" />

	<test thread-count="5" name="Test">


		<classes>

			<class name="RestAssuredDemo.RestAssuredDemo.ValidateMVA10APIs" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

